/*
* @autor: Vetal
* mixins framework
*/
@font-face {
  font-family: Tahoma;
  src: url(../fonts/Tahoma.ttf);
}
@font-face {
  font-family: ProximaNova-Black;
  src: url(../fonts/ProximaNova-Black.otf);
}
@font-face {
  font-family: Journalism-Regular;
  src: url(../fonts/journalism_regular.ttf);
}
@font-face {
  font-family: ProximaNova-Xbold;
  src: url(../fonts/ProximaNova-Xbold.otf);
}
@font-face {
  font-family: ProximaNova-Bold;
  src: url(../fonts/ProximaNova-Bold.otf);
}
@font-face {
  font-family: ProximaNova-Light;
  src: url(../fonts/ProximaNova-Light.otf);
}
/* Размытие */
/* Внешняя тень */
/* Пуленепробиваемый background-size */
/* Тень к тексту */
/* Обводка текста
*  @color - цвет обводки
*  @width - ширина обводки
*/
/* Закругления */
/* @count - определяет количество колонок в многоколоночном тексте,
 а @gap - задаёт расстояние между колонками. */
/*
* Устанавливаем эффект перехода
* между двумя состояниями элемента
* (например обычным состоянием и :hover)
* @property - свойство
* @duration - продолжительность изменения
* @function - график движения
*/
/*
* Трансформируем элемент,
* в частности, можем его масштабировать,
* вращать, сдвигать, наклонять, а также
* комбинировать виды трансформаций.
* @value - название функции и ее значения:
* scale(x) - масштабирование
* rotate(градусы) - поворот
* translate(горизонталь, вертикаль) - сдвиг
* (!) Запятую между функциями ставить не нужно
*/
