@import "mixins";

@colorYellow: #ffe743;
@colorWhite: #ffffff;
@colorGreen: #008943;
@colorGray: #ededed;
@colorViolet: #4a3636;
@color-btn-gray: #262824;
@color-brown: #2f1f0a;
@color-brown-p: #796347;
@color-brown-btn: #2f312d;
@color-green-btn: #007330;
@colorBrown: #7f7872;

@width: 1140px;

body {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
  font-size: 14px;
}
.wrapper {
  margin: 0 auto;
  max-width: @width;
}

.blackGradient() {
  background: rgba(0,0,0,0.71);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.71) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0.71)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.71) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0.71) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0.71) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.71) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.yellowGradient() {
  background: rgba(255,230,67,1);
  background: -moz-linear-gradient(top, rgba(255,230,67,1) 0%, rgb(255, 205, 22) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,230,67,1)), color-stop(100%, rgb(255, 205, 22)));
  background: -webkit-linear-gradient(top, rgba(255,230,67,1) 0%, rgb(255, 205, 22) 100%);
  background: -o-linear-gradient(top, rgba(255,230,67,1) 0%, rgb(255, 205, 22) 100%);
  background: -ms-linear-gradient(top, rgba(255,230,67,1) 0%, rgb(255, 205, 22) 100%);
  background: linear-gradient(to bottom, rgba(255,230,67,1) 0%, rgb(255, 205, 22) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe643', endColorstr='#e0c936', GradientType=0 );
}

.sacredYellowGradient() {
  background: rgba(255,230,67,1);
  background: -moz-linear-gradient(top, rgb(255, 234, 111) 0%, rgb(255, 205, 22) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(255, 234, 111)), color-stop(100%, rgb(255, 205, 22)));
  background: -webkit-linear-gradient(top, rgb(255, 234, 111) 0%, rgb(255, 205, 22) 100%);
  background: -o-linear-gradient(top, rgb(255, 234, 111) 0%, rgb(255, 205, 22) 100%);
  background: -ms-linear-gradient(top, rgb(255, 234, 111) 0%, rgb(255, 205, 22) 100%);
  background: linear-gradient(to bottom, rgb(255, 234, 111) 0%, rgb(255, 205, 22) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe643', endColorstr='#e0c936', GradientType=0 );
}
.roudGradient() {
  background: rgba(0,0,0,1);
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,1)', endColorstr='rgba(0,0,0,0)', GradientType=0 );
}
.button {
  padding: 15px 25px;
  .rounded(30px);
  text-transform: uppercase;
  margin: 0 auto;
  display: block;
  text-decoration: none;
  cursor: pointer;
  font-size: 10px;
  font-family: Tahoma;
  .inline-block();
  letter-spacing: 0.5px;
  img {
    margin-left: 5px;
  }
}
.button.white {
  background: transparent;
  border: 1px solid white;
  margin: 15px 30px;
  color: white;
  padding: 15px 40px;
}
.button.black {
  background: transparent;
  border: 1px solid @color-brown-btn;
  color: @color-brown-btn;
  margin: 50px 0;
}
.button.yellow {
  border: none;
  color: @color-btn-gray;
  .yellowGradient();
  margin-top: 50px;
}
.button.yellow:hover {
  .sacredYellowGradient();
}
h4 {
  font-family: ProximaNova-Black;
  text-transform: uppercase;
  font-size: 35px;
  margin: 20px;
}
body > header.headPage {
  background: url("../img/page2/bg-head.png") no-repeat;
  background-position: center;
  background-attachment: fixed;
  .background-size(cover);
  .center {
    color: white;
    .whiteLozung {
      margin: 0 50px;
      font-family: ProximaNova-Xbold;
      font-size: 39px;
    }
    .button.back {
      color: @colorYellow;
      padding: 35px 25px;
      font-size: 14px;
    }
    .lozung {
      font-family: Journalism-Regular;
      font-size: 100px;
      span {
        color: @colorYellow;
      }
    }
  }
}
body >  header {
  background: url(../img/header.png) no-repeat;
  background-position: center;
  background-attachment: fixed;
  .background-size(cover);
  .lineTop {
    padding: 30px 0;
    > div {
      .inline-block();
      vertical-align: top;
    }
    .mainMenu {
      margin: 0 50px;
      nav {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          li {
            .inline-block();
            vertical-align: top;
            margin: 0 10px;
            a {
              color: white;
              text-decoration: none;
              padding-top: 30px;
              display: block;
              .transition(all .2s);
              border-top: 5px solid transparent;
              &:hover, &.active {
                color: @colorYellow;
                border-top: 5px solid @colorYellow;
              }
            }
          }
        }
      }
    }
    .phones {
      text-align: left;
      .yellow {
        color: @colorYellow;
      }
      p {
        margin: 0;
      }
      a {
        text-decoration: none;
        display: block;
        color: white;
        font-family: ProximaNova-Bold;
        span {
          font-size: 24px;
        }
      }
    }
  }
  .center {
    .blackGradient();
    .rounded(50%);
    .size(550px, 550px);
    margin: 50px auto;
    text-align: center;
    >img {
      position: relative;
      top: -30px;
      right: 20px;
    }
  }
}
.block-1 {
  text-align: center;
  margin: 100px 0 30px 0;
  header p {
    color: @color-brown-p;
    width: 50%;
    margin: 0 auto 30px auto;
    line-height: 2;
    font-size: 16px;
  }
  .items {
    margin: 0 auto;
    color: @colorWhite;
    .item {
      background: @colorGreen;
      .inline-block();
      width: 28%;
      margin: 10px;
      position: relative;
      .discount {
        position: absolute;
        width: 60px;
        height: 60px;
        .rounded(50%);
        background: @colorYellow;
        right: 15px;
        top: -15px;
        font-family: ProximaNova-Black;
        font-size: 20px;
        color: black;
        div {
          position: relative;
          top: 17px;
        }
      }
      .description.green {
        .name {
          font-family: Journalism-Regular;
          font-size: 50px;
          margin: 0;
        }
        .price {
          color: @colorYellow;
          margin: 0;
          span {
            font-size: 25px;
            font-family: ProximaNova-Xbold;
          }
        }
      }
      > img {
        width: 100%;
      }
    }
  }
}
.block-2 {
  background: url("../img/bg.png") no-repeat;
  background-position: center;
  background-attachment: fixed;
  .background-size(cover);
  text-align: center;
  font-family: ProximaNova-Xbold;
  padding: 50px 0;
  color: white;
  .center {
    margin: 0 auto;
    width: 400px;
    h4 {
      font-size: 35px;
      letter-spacing: 5px;
    }
    .yellow-text {
      color: @colorYellow;
      font-size: 20px;
      margin: 30px 0;
      letter-spacing: 1px;
    }
    .text {
      line-height: 2.5;
      font-family: Tahoma;
      font-size: 12px;
      letter-spacing: 1px;
    }
  }
}
.block-3 {
  background: @colorGray;
  padding: 50px 0;
  >div {
    text-align: center;
    position: relative;
  }
  .about, .dom {
    .inline-block();
    width: 42%;
    vertical-align: top;
  }
  .dom img {
    width: 100%;
  }
  .about {
    text-align: left;
    color: @color-brown;
    p {
      padding: 20px;
      line-height: 20px;
      font-size: 12px;
    }
  }

  .line {
    position: absolute;
    bottom: -50px;
    left: 42%;
    .button {
      padding: 15px 50px;
    }
  }
}
.block-4 {
  text-align: center;
  padding: 50px 0;
  h4 {
    color: @color-brown;
  }
  .tabs {
    .tabs__content {
      display: none;
    }
    .tabs__content.active {
      display: block;
      margin-top: 50px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        margin: 0 10px;
        padding: 15px 20px;
        text-decoration: underline;
        .inline-block();
        cursor: pointer;
        .rounded(25px);
        color: @color-green-btn;
      }
      li.active {
        background: @color-green-btn;
        color: white;
        text-decoration: none;
      }
    }
    .items {
      margin: 0 auto;
      color: @colorWhite;
      .item {
        background: @colorViolet;
        .inline-block();
        width: 28%;
        margin: 10px;
        position: relative;
        .description.brown {
          .name {
            font-family: Journalism-Regular;
            font-size: 50px;
            margin: 0;
          }
          .price {
            color: @colorYellow;
            margin: 0;
            span {
              font-size: 25px;
              font-family: ProximaNova-Xbold;
            }
          }
        }
        > img {
          width: 100%;
        }
      }
    }
  }
}
.block-5 {
  background: url("../img/bg-3.png") no-repeat;
  background-position: center;
  background-attachment: fixed;
  .background-size(cover);
  text-align: center;
  > div {
    padding: 50px 0;
  }
  h4 {
    color: white;
    font-size: 25px;
    letter-spacing: 2px;
    span {
      color: @colorYellow;
    }
  }
  .line {
    .roud {
      .rounded(50%);
      .inline-block();
      .roudGradient();
      width: 200px;
      height: 200px;
      vertical-align: top;
      margin: 20px 50px;
      color: white;
      font-size: 12px;
      p {
        width: 60%;
        margin: 10px auto;
        letter-spacing: .5px;
        font-size: 10px;
        line-height: 1.7;
      }
    }
    .blockIco {
      position: relative;
      margin-top: 50px;
      >img {
        width: 29%;
      }
      .whiteLine {
        width: 30px;
        height: .5px;
        background: white;
        position: absolute;
        top: 40%;
        &.right {
          right: 20px;
        }
        &.left {
          left: 20px;
        }
      }
    }
  }
}
.block-6 {
  position: relative;
  background: @colorGray;
  padding: 100px 0 200px 0;
  overflow: hidden;
  /* background-color: #ededed; */
  background: #ededed url(../img/casca.png) no-repeat;
  background-position: 26px 356px;
  .wrapper {
    position: relative;
  }
  .form {
    text-align: center;
    border: 1px solid black;
    margin: 50px 0;
    padding-top: 100px;
    .head, .head2 {
      position: absolute;
      left: 0;
      right: 0;

      margin: auto;
    }
    .head {
      font-family: ProximaNova-XBold;
      font-size: 24px;
      padding: 0 30px;
      background: #ededed;
      top: -89px;
      width: 500px;
      span {
        font-size: 120px;
        letter-spacing: 5px;
        color: @colorYellow;
        text-shadow: 1px 4px 6px @colorGray, 0 0 0 #000, 1px 4px 6px @colorGray;
      }
    }
    .head2 {
      font-family: ProximaNova-XBold;
      font-size: 24px;
      top: 45px;
      width: 700px;
    }
    .head3 {
      font-size: 20px;
    }
    .prost {
      font-family: ProximaNova-Light;
      span {
        font-family: ProximaNova-Bold;
      }
    }
    > div {
      position: relative;
      top: 25px;
      //left: 40px;
      //padding-right: 50px;
      background: @colorGray;
      .inline-block();
      z-index: 5;
      .rounded(50%);
    }
    .button {
      padding: 20px 45px;
      margin-top: 0;
    }
  }
  /* Дизайнер. Если ты это читаешь, то заебись. Спасибо тебе за эту пидарастическую каску! Она меня заебала, ты не мог ее нормально сделать?! Короче, спасибо, обожаю. */
  .casca {
    position: absolute;

  }
}
footer {
  padding: 40px 0;
  .left {
    .inline-block();
    vertical-align: middle;
  }
  .right {
    .inline-block();
    vertical-align: middle;
    margin-left: 300px;
    a {
      text-transform: uppercase;
      color: @colorGreen;
      text-decoration: none;
      font-size: 18px;
      margin: 0 10px;
      font-family: ProximaNova-Light;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//Page catalog
.scroll-1 {
  text-align: center;
  header {
    padding: 20px 0;
    text-align: left;
    width: 79%;
    margin: 0 auto;
  }
  section {
    width: 80%;
    margin: 0 auto;
    .left-img, .right-img {
      .inline-block();
      vertical-align: top;
      img {
        width: 100%;
      }
    }
    .left-img {
      width: 65%;
    }
    .right-img {
      width: 30.9%;
      margin-left: 20px;
      .second {
        margin-top: 20px;
      }
    }
  }
  footer {
    text-align: left;
    width: 79%;
    margin: 0 auto;
    color: @colorBrown;
    .left-content {
      .inline-block();
      vertical-align: top;
      width: 31%;
      font-size: 12px;
      > div {
        padding: 10px 15px;
        background: @colorGray;
        h3 {
          font-size: 20px;
          font-family: ProximaNova-Black;
          color: @colorGreen;
          margin: 10px 0;
          letter-spacing: 1px;
        }
        ul {
          margin: 0;
          list-style-image: url("../img/page2/list.png");
          li {
            letter-spacing: 1px;
            margin-bottom: 10px;
          }
        }
      }
      .down {
        margin-top: 30px;
      }
    }
    .right-content {
      .inline-block();
      vertical-align: top;
      width: 63%;
      padding-left: 20px;
      font-size: 12px;
      .banners {
        color: white;
        text-align: center;
        margin-top: 50px;
        .banner {
          padding: 30px;
          .inline-block();
          width: 36%;
          vertical-align: top;
          position: relative;
          a {
            color: @colorYellow;
          }
          &.brown {
            background: #4e321c;
            position: relative;
            margin-right: 10px;
            .sweetHome {
              background: url("../img/page2/sweet-home.png") no-repeat;
              background-size: 80%;
              position: absolute;
              right: -9px;
              bottom: -10px;
              height: 92px;
              width: 79px;
              z-index: 1;
            }
          }
          &.green {
            background: #006e31;
            .shit {
              background: url("../img/page2/shit.png") no-repeat;
              background-size: 80%;
              position: absolute;
              right: -9px;
              bottom: -15px;
              height: 89px;
              width: 86px;
              z-index: 1;
            }
          }
        }
        .banner-content {
          border: 1px solid @colorYellow;
          padding: 12px;
          position: relative;
          h4 {
            font-size: 20px;
            letter-spacing: 1px;
            text-transform: inherit;
            margin: 0;
          }
          p {
            position: absolute;
            text-transform: uppercase;
            margin: 0;
            font-size: 11px;
            letter-spacing: .5px;
            width: 80%;
          }
          p.brown {
            background: #4e321c;
            top: -8px;
            left: 24px;
          }
          p.green {
            background: #006e31;
            top: -8px;
            left: 24px;
          }
        }
      }
      > p {
        letter-spacing: 1px;
        line-height: 1.5;
      }
      .text-block {
        .inline-block();
        vertical-align: top;
        width: 24%;
        span {
          font-family: ProximaNova-Xbold;
          font-size: 16px;
          color: #593e2a;
          .bold {
            font-size: 28px;
          }
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
.scroll-2 {
  background: url("../img/page2/bg-online.png") no-repeat;
  background-position: center;
  background-attachment: fixed;
  .background-size(cover);
  text-align: center;
  padding: 50px 0;
  h4 {
    font-size: 30px;
    color: white;
    span {
      color: @colorYellow;
    }
  }
  .fundament, .domokomplekt {
    .inline-block();
    vertical-align: top;
    color: white;
    text-align: left;
    .bold {
      font-family: ProximaNova-Xbold;
    }
    p {
      margin: 0 0 5px 0;
    }
    h4 {
      font-size: 14px;
      margin: 0 0 10px 0;
    }
    .fundament {
      width: 20%;
    }
  }
  .domokomplekt {
    width: 70%;
    margin-left: 40px;
    > div {
      .inline-block();
      vertical-align: top;
      width: 32%;
    }
    img, .brevno-radio {
      .inline-block();
      vertical-align: top;
    }
    .brevno-radio {
      width: 60%;
    }
    .cilind {
      .brevno-radio {
        p {
          .inline-block();
          width: 45%;
        }
      }
    }
  }
  .whiteLine {
    width: 300px;
    height: .5px;
    margin: 50px auto;
    background: white;
  }
  .wrapper >span {
    color: white;
  }
  .yellow-text {
    margin: 10px 0;
    font-family: ProximaNova-Black;
    color: @colorYellow;
    span {
      font-size: 40px;
    }
  }
  a.button {
    margin: 10px;
  }
}
.scroll-3 {
  text-align: center;
  h3 {
    color: @colorGreen;
    font-family: ProximaNova-Black;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .slick {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    img {
      width: 100%;
      margin: 0 10px;
    }
  }
  .arrow {
    position: absolute;
    top: 35%;
    background: white;
    .rounded(50%);
    width: 6px;
    height: 43px;
    cursor: pointer;
    z-index: 2;
    color: black;
    font-size: 29px;
    &.next {
      right: -25px;
      padding: 10px 49px 10px 13px;
    }
    &.prev {
      left: -25px;
      padding: 10px 30px;
    }
  }
}
.scroll-4 {
  text-align: center;
  background: url("../img/page2/bg-modal.png") no-repeat;
  background-position: center;
  background-attachment: fixed;
  .background-size(cover);
  padding: 50px 0;
  color: white;
  .inner {
    width: 800px;
    margin: 0 auto;
    border: .5px solid @colorYellow;
    position: relative;
    h4 {
      padding: 0 27%;
      font-size: 28px;
      top: -35px;
      position: relative;
      margin: 0;
    }
    h3 {
      padding: 0 28%;
      color: @colorYellow;
      font-family: ProximaNova-XBold;
      margin: 0;
      line-height: 1.5;
      letter-spacing: 1px;
    }
    .calcul {
      position: absolute;
      width: 30%;
      right: -60px;
      bottom: -90px;

      img {
        width: 100%;
      }
    }
    button {
      margin: 0;
      position: relative;
      bottom: -20px;
    }
    p {
      line-height: 2.5;
      font-size: 12px;
      letter-spacing: 1px;
      padding: 0 33%;
    }
    input {
      padding: 10px;
      border: 0;
      background: rgba(255,255,255,0.8);
      color: black;
      margin: 0 10px;
      .rounded(20px);
    }
  }
}

@media screen and (max-width: 800px) {
  body > header {
    text-align: center;
  }
  body>header .lineTop > div {
    display: block;
    margin-top: 30px;
  }
  body>header .lineTop .phones {
    text-align: center;
  }
  body>header .lineTop .mainMenu nav ul li a {
    font-size: 27px;
  }
  .scroll-1 footer .right-content .banners .banner-content h4 {
    font-size: 18px;
  }
  .scroll-1 section .left-img {
    width: 64%;
  }
  .scroll-4 .inner h4 {
    padding: 0 100px;
  }
  .scroll-4 .inner h3, .scroll-4 .inner p {
    padding: 0 10%;
  }
  .scroll-4 .inner input {
    font-size: 18px;
  }
  .wrapper {
    text-align: center;
  }
  footer .left, footer .right {
    display: block;
    margin: 0;
  }
  .scroll-4 .inner h4 {
    padding: 0 19%;
  }
}
@media screen and (max-width: 400px) {
  .scroll-4 .inner h3, .scroll-4 .inner p {
    padding: 0;
  }
  .scroll-4 .inner h4 {
    padding: 0 2%;
  }
}
